Repository SebastianNachtigall/BreakoutGlobe: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && go test ./...'
  language: system
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: bash -c 'cd backend && go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'cd backend && go vet ./...'
  language: system
  pass_filenames: false

fix: prevent profile creation modal from being skipped (fixed version)
  frontend/src/components/ProfileCreationModal.tsx
  frontend/src/components/__tests__/ProfileCreationModal.fixed.test.tsx
Due: frontend-lint, frontend-tests

fix: resolve profile creation modal form submission issue
  frontend/src/__tests__/profile-creation-debug.test.tsx
  frontend/src/components/ProfileCreationModal.tsx
Due: frontend-lint, frontend-tests

feat: Add mobile-responsive welcome screen with BreakoutGlobe.svg
  WELCOME_SCREEN_IMPLEMENTATION_SUMMARY.md
  frontend/src/App.tsx
  frontend/src/__tests__/welcome-screen-integration.test.tsx
  frontend/src/__tests__/welcome-screen-manual-verification.test.tsx
  frontend/src/assets/BreakoutGlobe.svg
  frontend/src/components/WelcomeScreen.tsx
  frontend/src/components/__tests__/WelcomeScreen.test.tsx
Due: frontend-lint, frontend-tests

add globe 🌍
  frontend/src/components/WelcomeScreen.tsx
Due: frontend-lint, frontend-tests

fix: Move BreakoutGlobe.svg to public directory for proper production deployment
  frontend/public/BreakoutGlobe.svg
  frontend/src/__tests__/welcome-screen-manual-verification.test.tsx
  frontend/src/components/WelcomeScreen.tsx
  frontend/src/components/__tests__/WelcomeScreen.test.tsx
Due: frontend-lint, frontend-tests

fix: Use optimized BreakoutGlobe2.svg for welcome screen
  frontend/public/BreakoutGlobe2.svg
  frontend/src/components/WelcomeScreen.tsx
Due: frontend-lint, frontend-tests

fix: resolve all failing frontend tests
  backend/internal/services/poi_discussion_timer_test.go
  backend/internal/services/poi_service.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/handler_test.go
  backend/internal/websocket/poi_handler_test.go
  frontend/src/__tests__/welcome-screen-integration.test.tsx
  frontend/src/__tests__/welcome-screen-manual-verification.test.tsx
  frontend/src/components/ProfileCreationModal.test.tsx
  frontend/src/components/__tests__/CircularAvatarPreview.test.tsx
  frontend/src/components/__tests__/ImageCropEditor.test.tsx
  frontend/src/components/__tests__/ProfileCreationModal.enhanced.test.tsx
  frontend/src/components/__tests__/ProfileSettingsModal.enhanced.test.tsx
  frontend/src/components/__tests__/WelcomeScreen.test.tsx
  frontend/src/stores/sessionStore.test.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: resolve group video modal race conditions and duplicate participants
  .kiro/specs/group-video-modal-centralization/design.md
  .kiro/specs/group-video-modal-centralization/requirements.md
  .kiro/specs/group-video-modal-centralization/tasks.md
  FIXED_GROUP_VIDEO_MODAL_SEQUENCE_DIAGRAM.md
  GROUP_VIDEO_MODAL_CENTRALIZATION_SUMMARY.md
  GROUP_VIDEO_MODAL_TRIGGER_ANALYSIS.md
  POI_GROUP_VIDEO_SEQUENCE_DIAGRAM.md
  backend/internal/services/poi_service.go
  frontend/src/App.tsx
  frontend/src/services/webrtc-service.ts
  frontend/src/services/websocket-client.ts
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: resolve all failing tests
  ALL_TESTS_FIXED_SUMMARY.md
  backend/internal/services/poi_discussion_timer_test.go
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: resolve WebRTC signaling deadlock in group video calls
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests

fix: group call rejoin - existing participants now add peer connections for rejoining users
  GROUP_CALL_PARTICIPANT_LIMIT_ANALYSIS.md
  GROUP_CALL_REJOIN_FIX_SUMMARY.md
  frontend/src/services/websocket-client.ts
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests

fix: POI group call race condition - queue offers before POI state is set
  CODE_CLEANUP_VERIFICATION.md
  EVENT_DRIVEN_IMPLEMENTATION_SUMMARY.md
  EVENT_DRIVEN_REFACTOR_PLAN.md
  GROUP_CALL_UX_IMPROVEMENTS.md
  POI_RACE_CONDITION_FIX_V2.md
  frontend/src/App.tsx
  frontend/src/components/GroupCallModal.tsx
  frontend/src/services/websocket-client.ts
  frontend/src/stores/videoCallStore.ts
  frontend/src/utils/eventBus.ts
Due: frontend-lint, frontend-tests

fix: add joiningUser field to POI joined event to prevent 'Unknown User' display
  UNKNOWN_USER_FIX_SUMMARY.md
  UNKNOWN_USER_INVESTIGATION.md
  backend/internal/redis/pubsub.go
  backend/internal/services/poi_discussion_timer_test.go
  backend/internal/services/poi_service.go
  frontend/src/services/websocket-client.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

Fix image persistence with Railway volume mount
  IMAGE_PERSISTENCE_FIX.md
  IMAGE_PERSISTENCE_FIX_SUMMARY.md
  RAILWAY_DEPLOYMENT_CHECKLIST.md
  backend/Dockerfile
  backend/internal/server/server.go
  backend/internal/storage/config.go
  compose.yml
Due: backend-tests, go-fmt, go-vet

feat: add password protection to nuke buttons and remove test call button
  frontend/src/App.tsx
Due: frontend-lint, frontend-tests

fix: correct WORKDIR in production Dockerfile for volume mount
  backend/Dockerfile
Due: backend-tests

feat: add collapsible POI sidebar with map navigation
  frontend/src/App.tsx
  frontend/src/components/POISidebar.tsx
Due: frontend-lint, frontend-tests

feat: improve POI sidebar navigation - maintain zoom level
  frontend/src/App.tsx
Due: frontend-lint, frontend-tests

refactor: redesign POI sidebar to be compact and collapsible
  frontend/src/components/POISidebar.tsx
Due: frontend-lint, frontend-tests

Fix Railway volume mount - correct working directory and VOLUME declaration
  Dockerfile
  RAILWAY_VOLUME_FIX.md
Due: none

Remove VOLUME keyword - Railway bans it, use railway.toml only
  Dockerfile
  RAILWAY_VOLUME_FIX.md
  backend/Dockerfile
Due: backend-tests

feat: Add GitHub Issues feedback feature
  FEEDBACK_FEATURE_IMPLEMENTATION.md
  FEEDBACK_FEATURE_VISUAL_GUIDE.md
  FEEDBACK_SETUP.md
  backend/.env.example
  backend/internal/handlers/feedback_handler.go
  backend/internal/handlers/feedback_handler_test.go
  backend/internal/server/server.go
  compose.yml
  frontend/src/App.tsx
  frontend/src/components/FeedbackModal.tsx
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: Add explicit CORS preflight handling for Railway deployment
  backend/internal/server/server.go
Due: backend-tests, go-fmt, go-vet

feat: Add POI image preview and thumbnail optimization
  .kiro/specs/poi-image-and-edit-enhancement/design.md
  .kiro/specs/poi-image-and-edit-enhancement/requirements.md
  .kiro/specs/poi-image-and-edit-enhancement/tasks.md
  CORS_FIX_SUMMARY.md
  POI_IMAGE_ENHANCEMENT_SUMMARY.md
  RAILWAY_VOLUME_SOLUTION.md
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/poi_handler.go
  backend/internal/models/poi.go
  backend/internal/server/server.go
  backend/internal/services/poi_service.go
  backend/internal/storage/image_processor.go
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POICreationModal.tsx
  frontend/src/components/POIMarker.tsx
  frontend/src/components/POISidebar.tsx
  frontend/src/services/api.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

feat: Add real-time image sync for POI creation via WebSocket
  POI_REALTIME_IMAGE_UPDATE_SUMMARY.md
  backend/internal/redis/pubsub.go
  backend/internal/services/poi_service.go
  frontend/src/services/websocket-client.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: Include image URLs in POI created WebSocket events
  backend/internal/redis/pubsub.go
  backend/internal/services/poi_service.go
  frontend/src/services/websocket-client.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

feat: Replace persistent WebSocket status with toast notifications
  WEBSOCKET_TOAST_NOTIFICATION_IMPLEMENTATION.md
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/stores/toastStore.ts
Due: frontend-lint, frontend-tests

fix: resolve z-index conflict between WelcomeScreen and auth modals
  frontend/src/App.tsx
  frontend/src/components/WelcomeScreen.tsx
Due: frontend-lint, frontend-tests

docs: add session summary and auth modal visibility fix documentation
  AUTH_MODAL_VISIBILITY_FIX.md
  SESSION_SUMMARY.md
Due: none

fix: integrate authStore with app initialization for full account login
  frontend/src/App.tsx
Due: frontend-lint, frontend-tests

docs: add comprehensive full account creation test summary
  FULL_ACCOUNT_CREATION_TEST_SUMMARY.md
Due: none

fix: Full account avatar upload and display
  AVATAR_DISPLAY_FIX_COMPLETE.md
  AVATAR_UPLOAD_AUTH_FIX.md
  backend/internal/handlers/user_handler.go
  frontend/src/App.tsx
  frontend/src/components/AvatarImageUpload.tsx
  frontend/src/components/AvatarMarker.tsx
  frontend/src/components/ProfileSettingsModal.tsx
  frontend/src/services/api.ts
  frontend/src/stores/userProfileStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: Update Dockerfile to use Go 1.24 for Railway deployment
  Dockerfile
Due: none

fix: Add CORS headers for static file serving (/uploads)
  backend/internal/server/server.go
Due: backend-tests, go-fmt, go-vet

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-tests: any of: ^frontend/
  backend-tests: any of: ^backend/
  go-fmt: any of: ^backend/.*\.go$
  go-vet: any of: ^backend/.*\.go$
