Repository SebastianNachtigall/BreakoutGlobe: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && go test ./...'
  language: system
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: bash -c 'cd backend && go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'cd backend && go vet ./...'
  language: system
  pass_filenames: false

fix: resolve frontend integration issues
  frontend/src/App.tsx
  frontend/src/components/ConnectionStatus.tsx
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

fix: improve POI marker visibility and click behavior
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POIDetailsPanel.test.tsx
  frontend/src/components/POIDetailsPanel.tsx
  frontend/src/components/POIMarker.tsx
Due: frontend-lint, frontend-tests

improve: enhance map configuration for better European view
  frontend/src/App.tsx
  frontend/src/components/MapContainer.test.tsx
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

fix: prevent POI markers from moving to top-left corner after joining
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

feat: add participant list display with usernames
  backend/internal/handlers/poi_handler.go
  backend/internal/handlers/poi_handler_test.go
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POIDetailsPanel.tsx
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

feat: implement auto-leave functionality for POI interactions
  frontend/src/App.tsx
  frontend/src/services/websocket-client.ts
  frontend/src/stores/poiStore.test.ts
  frontend/src/stores/poiStore.ts
Due: frontend-lint, frontend-tests

fix: improve POI interaction behavior and user experience
  frontend/src/App.tsx
Due: frontend-lint, frontend-tests

fix: remove hardcoded participants from mock POI endpoint
  backend/internal/server/server.go
Due: backend-tests, go-fmt, go-vet

feat: Fix POI Details Panel discussion timer runtime error
  .kiro/specs/poi-join-leave-fix/design.md
  .kiro/specs/poi-join-leave-fix/requirements.md
  .kiro/specs/poi-join-leave-fix/tasks.md
  backend/internal/server/server.go
  frontend/src/App.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POIDetailsPanel.test.tsx
  frontend/src/components/POIDetailsPanel.tsx
  frontend/src/stores/poiStore.test.ts
  frontend/src/stores/poiStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

Add comprehensive specs for test infrastructure refactor and user profile system
  .kiro/specs/test-infrastructure-refactor/design.md
  .kiro/specs/test-infrastructure-refactor/requirements.md
  .kiro/specs/test-infrastructure-refactor/tasks.md
  .kiro/specs/user-profile-system/design.md
  .kiro/specs/user-profile-system/requirements.md
  .kiro/specs/user-profile-system/tasks.md
  .kiro/steering/tdd-methodology.md
Due: none

Implement core test infrastructure foundation
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/testdata/assertions.go
  backend/internal/testdata/assertions_test.go
  backend/internal/testdata/builders.go
  backend/internal/testdata/builders_test.go
  backend/internal/testdata/mocks.go
  backend/internal/testdata/mocks_test.go
Due: backend-tests, go-fmt, go-vet

Implement POI test scenario builder with comprehensive testing
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/testdata/mocks.go
  backend/internal/testdata/scenarios.go
  backend/internal/testdata/scenarios_test.go
Due: backend-tests, go-fmt, go-vet

Implement Session test scenario builder with comprehensive testing
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/testdata/mocks.go
  backend/internal/testdata/scenarios.go
  backend/internal/testdata/scenarios_test.go
Due: backend-tests, go-fmt, go-vet

Update task status and finalize WebSocket test scenarios
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/testdata/scenarios.go
  backend/internal/testdata/scenarios_test.go
Due: backend-tests, go-fmt, go-vet

🎉 COMPLETE: Task 3.1 - POI Handler Test Migration
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/handlers/poi_handler_migrated_test.go
  backend/internal/testdata/MIGRATION_DEMO.md
  backend/internal/testdata/assertions.go
  backend/internal/testdata/scenarios.go
Due: backend-tests, go-fmt, go-vet

🎉 COMPLETE: Task 3.2 - Session Handler Test Migration
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/handlers/session_handler_migrated_test.go
  backend/internal/testdata/MIGRATION_DEMO.md
Due: backend-tests, go-fmt, go-vet

🎉 COMPLETE: Task 3.3 - Service Layer Test Migration
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/services/poi_service_migrated_test.go
  backend/internal/testdata/MIGRATION_DEMO.md
Due: backend-tests, go-fmt, go-vet

Add test architecture steering rules
  .kiro/specs/test-infrastructure-refactor/tasks.md
  .kiro/steering/tdd-methodology.md
  .kiro/steering/test-architecture-standards.md
  .kiro/steering/test-patterns-quick-reference.md
Due: none

Update test infrastructure tasks for strategic integration testing
  .kiro/specs/test-infrastructure-refactor/tasks.md
Due: none

feat: implement database integration test infrastructure
  .kiro/specs/test-infrastructure-refactor/tasks.md
  Makefile
  backend/internal/integration/database_test.go
  backend/internal/repository/poi_repository_integration_test.go
  backend/internal/repository/session_repository_integration_test.go
  backend/internal/testdata/DATABASE_INTEGRATION.md
  backend/internal/testdata/assertions.go
  backend/internal/testdata/scenarios.go
  backend/internal/testdata/simple_db_test.go
  backend/internal/testdata/testdb.go
  backend/internal/testdata/testdb_integration_isolated_test.go
  backend/internal/testdata/testdb_integration_test.go
  backend/internal/testdata/testdb_test.go
  compose.test.yml
Due: backend-tests, go-fmt, go-vet

fix: resolve test compilation issues
  backend/internal/testdata/assertions_test.go
  backend/internal/testdata/scenarios.go
  backend/internal/testdata/scenarios_test.go
  backend/internal/testdata/testdb_integration_test.go
  backend/internal/testdata/testdb_test.go
Due: backend-tests, go-fmt, go-vet

feat: Complete Redis integration testing infrastructure (Task 4.2)
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/integration/redis_test.go
  backend/internal/redis/poi_participants_test.go
  backend/internal/redis/pubsub_test.go
  backend/internal/redis/session_presence_test.go
  backend/internal/repository/poi_repository_test.go
  backend/internal/repository/session_repository_test.go
  backend/internal/testdata/REDIS_INTEGRATION.md
  backend/internal/testdata/testredis.go
  backend/internal/testdata/testredis_test.go
Due: backend-tests, go-fmt, go-vet

feat: Complete WebSocket integration testing infrastructure (Task 4.3)
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/integration/websocket_test.go
  backend/internal/testdata/WEBSOCKET_INTEGRATION.md
  backend/internal/testdata/testws.go
  backend/internal/testdata/testws_test.go
Due: backend-tests, go-fmt, go-vet

feat: Complete infrastructure flow integration tests
  .kiro/specs/test-infrastructure-refactor/tasks.md
  backend/internal/integration/INFRASTRUCTURE_FLOW_INTEGRATION.md
  backend/internal/integration/cross_layer_test.go.disabled
  backend/internal/integration/flow_test.go.disabled
  backend/internal/integration/infrastructure_flow_test.go
  backend/internal/integration/poi_flow_test.go.disabled
  backend/internal/integration/session_flow_test.go.disabled
  backend/internal/testdata/testredis.go
Due: backend-tests, go-fmt, go-vet

fix: Resolve interface mismatches across all infrastructure layers
  backend/internal/integration/cross_layer_test.go
  backend/internal/integration/flow_test.go
  backend/internal/integration/poi_flow_test.go
  backend/internal/integration/session_flow_test.go
  backend/internal/redis/poi_participants.go
  backend/internal/redis/poi_participants_test.go.disabled
  backend/internal/redis/session_presence.go
  backend/internal/redis/session_presence_test.go.disabled
  backend/internal/repository/poi_repository.go
  backend/internal/repository/poi_repository_integration_test.go.disabled
  backend/internal/repository/poi_repository_test.go.disabled
  backend/internal/repository/session_repository.go
  backend/internal/repository/session_repository_integration_test.go.disabled
  backend/internal/repository/session_repository_test.go.disabled
  backend/internal/services/poi_service_migrated_test.go.disabled
  backend/internal/services/poi_service_test.go.disabled
  backend/internal/services/session_service.go
  backend/internal/services/session_service_test.go.disabled
Due: backend-tests, go-fmt, go-vet

feat: Implement User model with bulletproof TDD methodology
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/models/user.go
  backend/internal/models/user_test.go
  backend/internal/testdata/assertions.go
  backend/internal/testdata/assertions_test.go
  backend/internal/testdata/builders.go
  backend/internal/testdata/builders_test.go
Due: backend-tests, go-fmt, go-vet

test: Testing improved pre-commit hook
  test_commit.txt
Due: none

fix: Improve pre-commit hook to skip database tests
  .githooks/pre-commit
  test_commit.txt
Due: none

feat: enhance Map model with User relationships and access control
  .kiro/specs/user-profile-system/tasks.md
  .kiro/steering/test-execution.md
  backend/internal/database/migrations.go
  backend/internal/models/map.go
  backend/internal/models/map_test.go
Due: backend-tests, go-fmt, go-vet

feat: update Session and POI models with User/Map relationships
  .kiro/specs/user-profile-system/tasks.md
  .kiro/steering/tdd-methodology.md
  backend/internal/models/poi.go
  backend/internal/models/poi_test.go
  backend/internal/models/session.go
  backend/internal/models/session_test.go
Due: backend-tests, go-fmt, go-vet

refactor: restructure user-profile-system tasks to vertical slice approach
  .kiro/specs/user-profile-system/tasks.md
Due: none

feat: update User model validation for 3-50 character display names
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/models/user.go
  backend/internal/models/user_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement UserRepository with proper TDD methodology
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/repository/user_repository.go
  backend/internal/repository/user_repository_test.go
  backend/internal/testdata/testdb.go
Due: backend-tests, go-fmt, go-vet

feat: implement UserHandler with proper TDD methodology
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/handlers/user_handler.go
  backend/internal/handlers/user_handler_test.go
Due: backend-tests, go-fmt, go-vet

feat: migrate User tests to established test architecture patterns
  backend/internal/handlers/user_handler_test.go
  backend/internal/repository/user_repository_test.go
  backend/internal/testdata/assertions.go
  backend/internal/testdata/mocks.go
Due: backend-tests, go-fmt, go-vet

refactor: consolidate steering rules for clarity and conciseness
  .kiro/steering/development-rules.md
  .kiro/steering/docker-compose-syntax.md
  .kiro/steering/tdd-methodology.md
  .kiro/steering/test-architecture-standards.md
  .kiro/steering/test-execution.md
  .kiro/steering/test-patterns-quick-reference.md
  .kiro/steering/test-standards.md
Due: none

feat: implement profile creation modal with comprehensive TDD approach
  .kiro/specs/user-profile-system/tasks.md
  frontend/src/components/ProfileCreationModal.test.tsx
  frontend/src/components/ProfileCreationModal.tsx
  frontend/src/services/api.ts
  frontend/src/types/models.ts
Due: frontend-lint, frontend-tests

feat: implement user profile system slice 1
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/server/server.go
  frontend/src/App.tsx
  frontend/src/components/MapContainer.enhanced-avatars.test.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/components/ProfileCard.tsx
  frontend/src/services/api.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

feat: complete user profile integration tests and fix task 6.1
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/handlers/user_handler.go
  backend/internal/integration/uploads/avatars/1c1cca90-5a51-4bc4-a1a2-9433a6363b0e_1758795302.jpg
  backend/internal/integration/uploads/avatars/65e8dbb0-3869-43b8-b6d3-5c0483cd4a12_1758795378.png
  backend/internal/integration/uploads/avatars/8e461f8b-bfa8-481a-8d1c-41896b036047_1758795417.png
  backend/internal/integration/uploads/avatars/8fd31510-ba5a-4900-9140-e1378f2baebe_1758795417.jpg
  backend/internal/integration/uploads/avatars/91b00822-751d-43dc-baa1-08ea2c9be1d9_1758795238.jpg
  backend/internal/integration/uploads/avatars/93d01319-f081-4d5f-b6ab-2e9ac2ab0caa_1758795378.jpg
  backend/internal/integration/uploads/avatars/c71c1625-cea0-4b29-9199-6c21d4d628b8_1758795452.png
  backend/internal/integration/uploads/avatars/c73263cd-e7d4-4e88-88aa-b876f466d99c_1758795369.jpg
  backend/internal/integration/uploads/avatars/d0c9520d-48fe-4f8d-8f77-af6762304b53_1758795344.jpg
  backend/internal/integration/uploads/avatars/f22d605c-c224-470b-abde-cba11698413b_1758795452.jpg
  backend/internal/integration/uploads/avatars/fcfa57ed-39d6-4306-96e9-8cf4ca73e59c_1758795282.jpg
  backend/internal/integration/user_flow_test.go
  backend/internal/interfaces/repository.go
  backend/internal/repository/user_repository.go
  backend/internal/repository/user_repository_test.go
  backend/internal/services/user_service.go
  backend/internal/services/user_service_test.go
Due: backend-tests, go-fmt, go-vet

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-tests: any of: ^frontend/
  backend-tests: any of: ^backend/
  go-fmt: any of: ^backend/.*\.go$
  go-vet: any of: ^backend/.*\.go$
