Repository SebastianNachtigall/BreakoutGlobe: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/
        pass_filenames: false
      
      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false
      
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && go test ./...'
        language: system
        files: ^backend/
        pass_filenames: false
      
      - id: go-fmt
        name: Go Format
        entry: bash -c 'cd backend && go fmt ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false
      
      - id: go-vet
        name: Go Vet
        entry: bash -c 'cd backend && go vet ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

feat: implement POI group video calling with WebRTC
  .kiro/specs/poi-group-video/design.md
  .kiro/specs/poi-group-video/requirements.md
  .kiro/specs/poi-group-video/tasks.md
  backend/internal/websocket/handler.go
  backend/internal/websocket/poi_call_test.go
  frontend/src/App.tsx
  frontend/src/__tests__/poi-group-call-integration.test.tsx
  frontend/src/components/GroupCallModal.tsx
  frontend/src/components/__tests__/GroupCallModal.test.tsx
  frontend/src/services/__tests__/webrtc-service.group-call.test.ts
  frontend/src/services/webrtc-service.ts
  frontend/src/services/websocket-client.ts
  frontend/src/stores/__tests__/videoCallStore.group-call.test.ts
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

Fix session persistence and display name resolution
  .kiro/specs/poi-group-video/design.md
  .kiro/specs/poi-group-video/requirements.md
  .kiro/specs/poi-group-video/tasks.md
  backend/internal/repository/session_repository.go
  backend/internal/server/server.go
  backend/internal/services/session_service.go
  backend/internal/websocket/handler.go
  frontend/src/App.tsx
  frontend/src/__tests__/participant-display-names.test.tsx
  frontend/src/__tests__/poi-group-call-3-participants.test.tsx
  frontend/src/components/GroupCallModal.tsx
  frontend/src/services/__tests__/webrtc-service.group-call.test.ts
  frontend/src/services/session-service.ts
  frontend/src/services/websocket-client.ts
  frontend/src/stores/avatarStore.ts
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

feat: audit and remove mock implementations from server
  .kiro/specs/poi-group-video/tasks.md
  MOCK_IMPLEMENTATIONS_AUDIT.md
  TASK_7_COMPLETION_SUMMARY.md
  backend/internal/server/mock_audit_test.go
  backend/internal/server/mock_removal_test.go
  backend/internal/server/proper_handlers_test.go
  backend/internal/server/server.go
Due: backend-tests, go-fmt, go-vet

🎉 Major Achievement: All backend tests are now passing!
  ALL_TESTS_FIXED_SUMMARY.md
  COMPREHENSIVE_TEST_FIX_SUMMARY.md
  TEST_FIX_CHECKLIST.md
  TEST_MAINTENANCE_TASKS.md
  WEBSOCKET_TESTS_COMPLETION_SUMMARY.md
  backend/internal/handlers/poi_handler_test.go
  backend/internal/integration/flow_test.go
  backend/internal/integration/poi_avatar_badges_test.go
  backend/internal/services/mocks.go
  backend/internal/services/poi_discussion_timer_test.go
  backend/internal/services/poi_image_service_test.go
  backend/internal/testdata/mocks.go
  backend/internal/testdata/scenarios.go
  backend/internal/testdata/testws.go
  backend/internal/websocket/handler_test.go
  backend/internal/websocket/poi_call_test.go
  backend/internal/websocket/poi_handler_test.go
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POIDetailsPanel.tsx
  frontend/src/tests/integration/poi-flow.test.tsx
  frontend/src/tests/integration/session-flow.test.tsx
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

feat: achieve 100% test pass rate for active test suite
  frontend/src/App.test.tsx
  frontend/src/components/AvatarMarker.test.tsx
  frontend/src/components/ConnectionStatus.test.tsx
  frontend/src/components/MapContainer.enhanced-avatars.test.tsx
  frontend/src/services/__tests__/websocket-call-status.test.ts
  frontend/src/stores/poiStore.test.ts
  frontend/src/stores/poiStore.ts
  frontend/src/tests/integration/poi-flow.test.tsx
  frontend/src/tests/integration/session-flow.test.tsx
Due: frontend-lint, frontend-tests

feat: add Railway deployment configuration
  Dockerfile
  backend/Dockerfile
  frontend/.env.production
  frontend/Dockerfile
  frontend/nginx.conf
  railway.toml
Due: frontend-lint, frontend-tests, backend-tests

fix: remove dynamic PORT from Dockerfile EXPOSE and HEALTHCHECK
  Dockerfile
Due: none

fix: add proper Redis URL parsing for Railway authentication
  backend/internal/server/server.go
Due: backend-tests, go-fmt, go-vet

feat: add production start script for Railway frontend deployment
  frontend/package.json
Due: frontend-lint, frontend-tests

temp: disable health check to debug Railway deployment
  railway.toml
Due: none

fix: skip TypeScript checks in production build for Railway deployment
  frontend/package.json
Due: frontend-lint, frontend-tests

fix: remove frontend Dockerfile to use Railway Node.js buildpack
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend-lint, frontend-tests

fix: allow Railway hosts in Vite preview configuration
  frontend/vite.config.ts
Due: frontend-lint, frontend-tests

fix: add Railway frontend domain to CORS allowed origins
  backend/internal/server/server.go
Due: backend-tests, go-fmt, go-vet

fix: replace hardcoded localhost URLs with environment variables
  frontend/src/App.tsx
  frontend/src/services/session-service.ts
Due: frontend-lint, frontend-tests

fix: add environment variable logging and revert to vite preview start command
  frontend/package.json
  frontend/src/services/session-service.ts
Due: frontend-lint, frontend-tests

debug: add logging to session creation handler to identify 500 error cause
  backend/internal/handlers/session_handler.go
Due: backend-tests, go-fmt, go-vet

fix: create default map during migrations to resolve foreign key constraint error
  backend/internal/database/migrations.go
Due: backend-tests, go-fmt, go-vet

fix: create system user before default map to resolve foreign key constraint
  backend/internal/database/migrations.go
Due: backend-tests, go-fmt, go-vet

fix: use BASE_URL environment variable for image URLs instead of hardcoded localhost
  backend/internal/server/server.go
Due: backend-tests, go-fmt, go-vet

feat: add delete POI button to POI details panel for POI creators
  frontend/src/App.tsx
  frontend/src/components/POIDetailsPanel.tsx
Due: frontend-lint, frontend-tests

fix: use correct loadPOIs function instead of undefined refreshPOIs in delete handler
  frontend/src/App.tsx
Due: frontend-lint, frontend-tests

fix: use user profile ID instead of session ID for POI delete button visibility
  frontend/src/App.tsx
Due: frontend-lint, frontend-tests

fix: correct image crop preview coordinate conversion
  .kiro/specs/avatar-image-enhancement/design.md
  .kiro/specs/avatar-image-enhancement/requirements.md
  .kiro/specs/avatar-image-enhancement/tasks.md
  backend/uploads/avatars/24507146-8ee5-4180-950d-a364d06ece3d_1759180471.png
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AvatarImageUpload.tsx
  frontend/src/components/CircularAvatarPreview.tsx
  frontend/src/components/ImageCropEditor.tsx
  frontend/src/components/ImagePreview.tsx
  frontend/src/components/ProfileCreationModal.tsx
  frontend/src/components/__tests__/AvatarImageUpload.test.tsx
  frontend/src/components/__tests__/CircularAvatarPreview.test.tsx
  frontend/src/components/__tests__/ImageCropEditor.test.tsx
  frontend/src/components/__tests__/ImagePreview.test.tsx
  frontend/src/components/__tests__/ProfileCreationModal.enhanced.test.tsx
  frontend/src/components/index.ts
  frontend/src/services/__tests__/imageProcessor.test.ts
  frontend/src/services/imageProcessor.ts
  frontend/src/types/imageProcessing.ts
  frontend/src/utils/__tests__/imageErrors.test.ts
  frontend/src/utils/__tests__/imageValidation.test.ts
  frontend/src/utils/imageErrors.ts
  frontend/src/utils/imageValidation.ts
Due: frontend-lint, frontend-tests, backend-tests

fix: resolve avatar upload 401 error by adding user ID authentication
  .kiro/specs/avatar-image-enhancement/tasks.md
  backend/uploads/avatars/208a80bf-1210-490a-8a16-2abfe5000a56_1759222512.png
  frontend/src/components/ProfileSettingsModal.tsx
  frontend/src/components/__tests__/ProfileSettingsModal.enhanced.test.tsx
  frontend/src/services/api.ts
Due: frontend-lint, frontend-tests, backend-tests

fix: replace hardcoded localhost URLs with environment-based BASE_URL
  backend/internal/websocket/handler.go
Due: backend-tests, go-fmt, go-vet

feat: add development 'nuke' button to clear all POIs
  backend/internal/handlers/poi_handler.go
  backend/internal/handlers/poi_handler_test.go
  backend/internal/services/poi_service.go
  backend/internal/testdata/mocks.go
  backend/internal/testdata/testws.go
  frontend/src/App.tsx
  frontend/src/services/api.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: repair broken comment syntax in api.ts
  frontend/src/services/api.ts
Due: frontend-lint, frontend-tests

feat: change default user location from NYC to Berlin, Germany
  frontend/src/App.tsx
  frontend/src/stores/sessionStore.ts
Due: frontend-lint, frontend-tests

fix: add new frontend domain to CORS allowed origins
  backend/internal/server/server.go
Due: backend-tests, go-fmt, go-vet

fix: improve validation error handling for profile creation
  backend/internal/handlers/user_handler.go
  backend/internal/models/user.go
Due: backend-tests, go-fmt, go-vet

fix: correct map initial center coordinates to show Europe
  frontend/src/App.tsx
Due: frontend-lint, frontend-tests

feat: increase avatar marker size to 2/3 of POI size
  frontend/src/components/AvatarMarker.tsx
Due: frontend-lint, frontend-tests

feat: increase avatar marker size from 32px to 44px
  backend/uploads/avatars/958d95da-aa93-4d80-a281-8c595beb137a_1759270720.png
  backend/uploads/poi-a42c4ed4-f060-46e5-978f-c83933ec0b1e-1759270737.png
  frontend/src/components/AvatarMarker.tsx
Due: frontend-lint, frontend-tests, backend-tests

Fix POI group call second call video bug
  POI_GROUP_CALL_BUG_FIX_SUMMARY.md
  backend/uploads/avatars/958d95da-aa93-4d80-a281-8c595beb137a_1759270929.png
  frontend/src/__tests__/manual-bug-verification.test.tsx
  frontend/src/__tests__/poi-group-call-bug-fix-verification.test.tsx
  frontend/src/__tests__/poi-group-call-duplicate-initialization.test.tsx
  frontend/src/__tests__/poi-group-call-second-call-fix.test.tsx
  frontend/src/components/AvatarMarker.tsx
  frontend/src/services/websocket-client.ts
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests, backend-tests

feat: implement Railway persistent storage for file uploads
  .gitignore
  backend/internal/integration/flow_test.go
  backend/internal/integration/user_flow_test.go
  backend/internal/server/server.go
  backend/internal/services/user_service.go
  backend/internal/services/user_service_test.go
  backend/internal/storage/README.md
  backend/internal/storage/config.go
  backend/internal/storage/interface.go
  backend/internal/storage/local_storage.go
  backend/internal/websocket/handler.go
  compose.yml
  railway.toml
  uploads/.gitkeep
  uploads/avatars/.gitkeep
  uploads/poi-images/.gitkeep
Due: backend-tests, go-fmt, go-vet

fix: update POI image uploader to use new storage system
  backend/internal/server/server.go
  backend/internal/services/uploads/image_uploader.go
  backend/internal/services/uploads/image_uploader_test.go
Due: backend-tests, go-fmt, go-vet

feat: Add scrollable avatar creation modal and nuke users functionality
  backend/internal/handlers/user_clear_test.go
  backend/internal/handlers/user_handler.go
  backend/internal/handlers/user_handler_test.go
  backend/internal/interfaces/repository.go
  backend/internal/repository/user_repository.go
  backend/internal/services/mocks.go
  backend/internal/services/user_service.go
  backend/internal/services/user_service_test.go
  backend/internal/testdata/mocks.go
  backend/internal/testdata/testws.go
  frontend/src/App.tsx
  frontend/src/components/ProfileCreationModal.tsx
  frontend/src/services/api.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: resolve avatar movement rate limiting bug
  RATE_LIMITER_ARCHITECTURE_PLAN.md
  RATE_LIMIT_BUG_FIX_SUMMARY.md
  backend/internal/server/server.go
  backend/internal/services/rate_limiter.go
  backend/internal/services/rate_limiter_test.go
  backend/internal/services/rate_limiter_window_reset_test.go
Due: backend-tests, go-fmt, go-vet

feat: Add stale profile detection and cleanup
  frontend/src/App.tsx
  frontend/src/__tests__/app-stale-profile-detection.test.tsx
  frontend/src/__tests__/stale-profile-cleanup.test.tsx
Due: frontend-lint, frontend-tests
