Repository SebastianNachtigall/BreakoutGlobe: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/
        pass_filenames: false
      
      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false
      
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && go test ./...'
        language: system
        files: ^backend/
        pass_filenames: false
      
      - id: go-fmt
        name: Go Format
        entry: bash -c 'cd backend && go fmt ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false
      
      - id: go-vet
        name: Go Vet
        entry: bash -c 'cd backend && go vet ./...'
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

feat: add steering rule for modern docker compose syntax
  .github/workflows/test.yml
  .kiro/specs/breakout-globe-foundation/tasks.md
  .kiro/steering/docker-compose-syntax.md
  README.md
  compose.yml
Due: none

fix: resolve Docker development environment issues
  backend/Dockerfile
  compose.yml
Due: backend-tests

feat: implement core data models with comprehensive validation (TDD)
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/go.mod
  backend/go.sum
  backend/internal/models/latlng.go
  backend/internal/models/latlng_test.go
  backend/internal/models/poi.go
  backend/internal/models/poi_test.go
  backend/internal/models/session.go
  backend/internal/models/session_test.go
Due: backend-tests, go-fmt, go-vet

feat: add multi-map support to data models and requirements
  .kiro/specs/breakout-globe-foundation/requirements.md
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/internal/models/map.go
  backend/internal/models/map_test.go
  backend/internal/models/poi.go
  backend/internal/models/poi_test.go
  backend/internal/models/session.go
  backend/internal/models/session_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement TypeScript interfaces and validation (TDD)
  .kiro/specs/breakout-globe-foundation/tasks.md
  frontend/src/types/forms.test.ts
  frontend/src/types/forms.ts
  frontend/src/types/index.ts
  frontend/src/types/models.test.ts
  frontend/src/types/models.ts
  frontend/src/types/utils.test.ts
Due: frontend-lint, frontend-tests

feat: implement database connection and migrations (TDD)
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/go.mod
  backend/go.sum
  backend/internal/database/connection.go
  backend/internal/database/connection_test.go
  backend/internal/database/database.go
  backend/internal/database/init.go
  backend/internal/database/init_test.go
  backend/internal/database/migrations.go
  backend/internal/database/migrations_test.go
  backend/scripts/setup-test-db.sql
Due: backend-tests, go-fmt, go-vet

feat: implement POI repository with comprehensive testing
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/internal/models/bounds.go
  backend/internal/repository/poi_repository.go
  backend/internal/repository/poi_repository_test.go
  backend/internal/repository/session_repository.go
  backend/internal/repository/session_repository_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement Redis session presence management
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/go.mod
  backend/go.sum
  backend/internal/redis/client.go
  backend/internal/redis/session_presence.go
  backend/internal/redis/session_presence_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement Redis POI participant tracking with comprehensive testing
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/internal/redis/poi_participants.go
  backend/internal/redis/poi_participants_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement Redis pub/sub system for real-time events
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/internal/redis/pubsub.go
  backend/internal/redis/pubsub_test.go
Due: backend-tests, go-fmt, go-vet

feat: complete session management service implementation
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/go.mod
  backend/go.sum
  backend/internal/services/session_service.go
  backend/internal/services/session_service_test.go
Due: backend-tests, go-fmt, go-vet

feat: add pre-commit hooks to prevent escape character issues
  .githooks/pre-commit
  README.md
  scripts/setup-hooks.sh
Due: none

feat: implement POI management service (task 5.2)
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/internal/services/poi_service.go
  backend/internal/services/poi_service_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement rate limiting service (task 5.3)
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/internal/services/rate_limiter.go
  backend/internal/services/rate_limiter_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement session API endpoints with comprehensive test coverage
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/internal/handlers/session_handler.go
  backend/internal/handlers/session_handler_test.go
  backend/internal/services/rate_limiter.go
Due: backend-tests, go-fmt, go-vet

feat: implement POI API endpoints with comprehensive test coverage
  backend/internal/handlers/poi_handler.go
  backend/internal/handlers/poi_handler_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement comprehensive middleware for error handling and logging
  backend/internal/middleware/error_handler.go
  backend/internal/middleware/error_handler_test.go
  backend/internal/middleware/logger.go
  backend/internal/middleware/logger_test.go
  backend/internal/middleware/middleware.go
  backend/internal/middleware/middleware_test.go
Due: backend-tests, go-fmt, go-vet

fix: mark tasks 6.2 and 6.3 as completed in tasks.md
  .kiro/specs/breakout-globe-foundation/tasks.md
Due: none

feat: implement WebSocket connection management (Task 7.1)
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/go.mod
  backend/go.sum
  backend/internal/websocket/handler.go
  backend/internal/websocket/handler_test.go
  backend/internal/websocket/manager.go
  backend/internal/websocket/manager_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement real-time POI event broadcasting (Task 7.2)
  .kiro/specs/breakout-globe-foundation/tasks.md
  backend/internal/websocket/handler.go
  backend/internal/websocket/handler_test.go
Due: backend-tests, go-fmt, go-vet

feat: implement WebSocket reconnection and error handling (Task 7.3)
  .kiro/specs/breakout-globe-foundation/tasks.md
  .kiro/steering/tdd-methodology.md
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/services/websocket-client-simple.test.ts
  frontend/src/services/websocket-client.ts
Due: frontend-lint, frontend-tests

Complete task 8.1: Set up MapLibre GL JS integration
  .kiro/specs/breakout-globe-foundation/tasks.md
  frontend/src/components/MapContainer.test.tsx
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

Complete task 8.2: Implement avatar rendering and movement
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/MapContainer.test.tsx
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

🚀 Optimize MapContainer performance and fix animation issues
  frontend/src/App.tsx
  frontend/src/components/MapContainer.test.tsx
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

🎯 Fix animation curve and optimize zoom/pan performance
  frontend/src/components/MapContainer.test.tsx
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

Fix avatar animation conflicts - single clean animation system
  frontend/src/components/MapContainer.test.tsx
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

Fix animation timing conflicts and position offset issues
  frontend/src/App.tsx
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

✅ FIXED: Avatar animation and positioning issues with ultra-simplified approach
  frontend/src/App.tsx
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

Complete task 8.3: Integrate POI components with MapContainer
  .kiro/specs/breakout-globe-foundation/tasks.md
  frontend/src/components/MapContainer.test.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POIContextMenu.test.tsx
  frontend/src/components/POIContextMenu.tsx
  frontend/src/components/POIMarker.test.tsx
  frontend/src/components/POIMarker.tsx
Due: frontend-lint, frontend-tests

Clean up App.tsx: Remove sample POI data
  frontend/src/components/MapContainer.tsx
Due: frontend-lint, frontend-tests

Complete task 9.1: Create Zustand stores for application state
  .kiro/specs/breakout-globe-foundation/tasks.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/stores/index.ts
  frontend/src/stores/poiStore.test.ts
  frontend/src/stores/poiStore.ts
  frontend/src/stores/sessionStore.test.ts
  frontend/src/stores/sessionStore.ts
Due: frontend-lint, frontend-tests

Fix WebSocket client interface consistency and complete task 9.2
  .kiro/specs/breakout-globe-foundation/tasks.md
  .kiro/steering/test-execution.md
  frontend/src/services/websocket-client-simple.test.ts
  frontend/src/services/websocket-client.test.ts
  frontend/src/services/websocket-client.ts
Due: frontend-lint, frontend-tests

Complete task 9.3: Add error handling and user feedback
  .kiro/specs/breakout-globe-foundation/tasks.md
  frontend/src/components/ConnectionStatus.test.tsx
  frontend/src/components/ConnectionStatus.tsx
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/NotificationCenter.test.tsx
  frontend/src/components/NotificationCenter.tsx
  frontend/src/stores/errorStore.test.ts
  frontend/src/stores/errorStore.ts
Due: frontend-lint, frontend-tests

feat: complete POI management UI (task 10.1)
  .kiro/specs/breakout-globe-foundation/tasks.md
  frontend/src/components/POICreationModal.test.tsx
  frontend/src/components/POICreationModal.tsx
  frontend/src/components/POIDetailsPanel.test.tsx
  frontend/src/components/POIDetailsPanel.tsx
Due: frontend-lint, frontend-tests

feat: complete connection status and feedback UI (task 10.2)
  .kiro/specs/breakout-globe-foundation/tasks.md
  frontend/src/components/LoadingSpinner.test.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/Toast.test.tsx
  frontend/src/components/Toast.tsx
Due: frontend-lint, frontend-tests

feat: add responsive design and accessibility utilities (task 10.3)
  .kiro/specs/breakout-globe-foundation/tasks.md
  frontend/src/utils/accessibility.test.ts
  frontend/src/utils/accessibility.ts
  frontend/src/utils/responsive.test.ts
  frontend/src/utils/responsive.ts
Due: frontend-lint, frontend-tests

feat: complete integration tests and App component integration (task 11.1)
  frontend/src/App.tsx
  frontend/src/test/setup.ts
  frontend/src/tests/integration/poi-flow.test.tsx
  frontend/src/tests/integration/session-flow.test.tsx
Due: frontend-lint, frontend-tests

docs: mark task 11.1 as completed
  .kiro/specs/breakout-globe-foundation/tasks.md
Due: none

feat: implement basic backend API endpoints for integration testing
  backend/internal/server/server.go
  frontend/src/App.tsx
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: update frontend API calls to use backend URL
  frontend/src/App.tsx
Due: frontend-lint, frontend-tests
