Repository SebastianNachtigall/BreakoutGlobe: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && go test ./...'
  language: system
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: bash -c 'cd backend && go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'cd backend && go vet ./...'
  language: system
  pass_filenames: false

fix: resolve server test database connection issues (task 6.2)
  .kiro/specs/user-profile-system/tasks.md
  .kiro/steering/development-rules.md
  backend/internal/server/server.go
Due: backend-tests, go-fmt, go-vet

feat: implement profile retrieval endpoint (task 7)
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/handlers/user_handler.go
  backend/internal/handlers/user_handler_test.go
  backend/internal/integration/user_flow_test.go
  backend/internal/services/user_service.go
  backend/internal/services/user_service_test.go
Due: backend-tests, go-fmt, go-vet

fix: handle missing user ID in profile retrieval endpoint
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/handlers/user_handler.go
  backend/internal/handlers/user_handler_test.go
  backend/internal/integration/user_flow_test.go
Due: backend-tests, go-fmt, go-vet

fix: correct frontend API base URL environment variable
  compose.yml
Due: none

fix: resolve duplicate email constraint issue for guest profiles
  backend/internal/handlers/user_handler.go
  backend/internal/handlers/user_handler_test.go
  backend/internal/integration/uploads/avatars/a41d165f-b4c3-42f0-b2ef-9490d19ceca2_1758799208.png
  backend/internal/integration/uploads/avatars/f9704d1d-6442-4b8f-999b-d5711f3232f2_1758799207.jpg
  backend/internal/integration/user_flow_test.go
  backend/internal/models/map_test.go
  backend/internal/models/user.go
  backend/internal/models/user_test.go
  backend/internal/services/user_service.go
  backend/internal/services/user_service_test.go
  backend/internal/testdata/assertions.go
  backend/internal/testdata/builders.go
Due: backend-tests, go-fmt, go-vet

feat: implement avatar upload and display functionality
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/server/server.go
  backend/uploads/avatars/0980349b-70d9-441f-814a-bcafc19376d6_1758806740.png
  backend/uploads/avatars/443e9127-e438-4117-bacd-ab33a73a94c8_1758807307.png
  backend/uploads/avatars/6d08f9cf-75da-425a-b0c2-e3d78de77879_1758807988.png
  backend/uploads/avatars/e3d768b4-757b-468d-8106-9e27ab368c69_1758806639.png
  backend/uploads/avatars/ea7083c1-fefb-4eb7-b9a3-5a12ef86268a_1758806708.png
  backend/uploads/avatars/fbd901be-3569-4923-9b59-0dfcffde1119_1758807203.png
  frontend/src/App.tsx
  frontend/src/components/AvatarMarker.test.tsx
  frontend/src/components/MapContainer.avatar-visibility.test.tsx
  frontend/src/components/MapContainer.enhanced-avatars.test.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/services/api.ts
  frontend/src/test/setup.ts
  frontend/src/types/models.ts
  package-lock.json
  package.json
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

feat: implement localStorage sync for guest profiles
  .kiro/specs/user-profile-system/tasks.md
  frontend/src/App.tsx
  frontend/src/stores/userProfileStore.test.ts
  frontend/src/stores/userProfileStore.ts
Due: frontend-lint, frontend-tests

feat: enhance avatar file serving with comprehensive security validation
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/server/avatar_serving_test.go
  backend/internal/server/server.go
  backend/uploads/avatars/b464412a-b464-4c38-b989-aecb848c8378_1758828670.png
  backend/uploads/avatars/f3ea73c0-1ebe-4299-aeb4-9e703aa3ff6c_1758828560.png
Due: backend-tests, go-fmt, go-vet

fix: resolve profile update test mock expectations
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/handlers/profile_update_simple_test.go
  backend/internal/handlers/user_handler.go
  backend/internal/handlers/user_handler_test.go
  backend/internal/handlers/user_profile_update_test.go
  backend/internal/models/user.go
  backend/internal/services/mocks.go
  backend/internal/services/rate_limiter.go
  backend/internal/services/user_service.go
Due: backend-tests, go-fmt, go-vet

feat: complete profile update functionality - Task 10 DONE
  backend/internal/integration/uploads/avatars/0441b6fc-f764-4886-aba3-a6d522744b89_1758830767.png
  backend/internal/integration/uploads/avatars/21167b8f-c051-4fb7-8cc5-654e49f86a2a_1758830766.jpg
  backend/internal/integration/uploads/avatars/7f4483b2-0f6e-4c19-b2b2-7c30487c0616_1758830819.jpg
  backend/internal/integration/uploads/avatars/89cd51e3-fb31-46f0-b02f-f1a8aecdb375_1758830820.png
  backend/internal/integration/uploads/avatars/a709f3e6-a301-4e14-a7fc-232203dc695f_1758830784.jpg
  backend/internal/integration/uploads/avatars/b2c214eb-0940-46ff-b26e-fc4eae3de416_1758830785.png
Due: backend-tests

Update websocket integration tests and test utilities
  backend/internal/integration/websocket_test.go
  backend/internal/testdata/testws.go
Due: backend-tests, go-fmt, go-vet

Refactor user validation: eliminate display name validation duplication
  backend/internal/models/user.go
  backend/uploads/avatars/208a80bf-1210-490a-8a16-2abfe5000a56_1758833413.png
Due: backend-tests, go-fmt, go-vet

Implement profile settings UI (Task 11)
  .kiro/specs/user-profile-system/tasks.md
  frontend/src/App.tsx
  frontend/src/components/ProfileMenu.tsx
  frontend/src/components/ProfileSettingsModal.test.tsx
  frontend/src/components/ProfileSettingsModal.tsx
Due: frontend-lint, frontend-tests

Fix ProfileSettingsModal import and store usage
  frontend/src/components/ProfileSettingsModal.test.tsx
  frontend/src/components/ProfileSettingsModal.tsx
Due: frontend-lint, frontend-tests

Fix 401 Unauthorized error in profile updates (TDD)
  backend/uploads/avatars/dc797852-6337-45f3-8f94-329a6fddae90_1758834618.png
  frontend/src/components/ProfileSettingsModal.test.tsx
  frontend/src/components/ProfileSettingsModal.tsx
  frontend/src/services/api.ts
Due: frontend-lint, frontend-tests, backend-tests

Fix white text visibility in ProfileSettingsModal (TDD)
  frontend/src/components/ProfileSettingsModal.test.tsx
  frontend/src/components/ProfileSettingsModal.tsx
Due: frontend-lint, frontend-tests

Fix aboutMe field not being saved during profile creation (TDD)
  backend/internal/handlers/user_handler.go
  backend/internal/handlers/user_handler_test.go
  backend/internal/services/mocks.go
  backend/internal/services/user_service.go
  backend/internal/services/user_service_test.go
Due: backend-tests, go-fmt, go-vet

Fix aboutMe field not displaying in ProfileSettingsModal
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/handlers/user_handler.go
  backend/internal/services/user_service.go
  backend/uploads/avatars/5a8dbb85-fa3e-4df9-aef6-11f72ff28e4c_1758835506.png
  backend/uploads/avatars/94074ea6-a136-46fb-bb8f-caa7e82a5395_1758869961.png
  frontend/src/components/ProfileCreationModal.tsx
  frontend/src/components/ProfileSettingsModal.tsx
  frontend/src/services/api.ts
  frontend/src/stores/userProfileStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: resolve integration test technical debt and WebSocket infrastructure issues
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/integration/cross_layer_test.go
  backend/internal/integration/database_test.go
  backend/internal/integration/flow_test.go
  backend/internal/integration/infrastructure_flow_test.go
  backend/internal/integration/poi_flow_test.go
  backend/internal/integration/session_flow_test.go
  backend/internal/integration/websocket_message_validation_test.go
  backend/internal/testdata/fixtures.go
  backend/internal/testdata/testredis.go
  backend/internal/testdata/testws.go
Due: backend-tests, go-fmt, go-vet

feat: implement multi-user avatar system with real-time synchronization
  .kiro/specs/user-profile-system/requirements.md
  .kiro/specs/user-profile-system/tasks.md
  backend/internal/integration/cross_layer_test.go
  backend/internal/integration/database_test.go
  backend/internal/server/server.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/handler_test.go
  backend/internal/websocket/manager.go
  frontend/src/App.tsx
  frontend/src/__tests__/multi-user-avatars-integration.test.tsx
  frontend/src/services/api.ts
  frontend/src/services/websocket-client.ts
  frontend/src/stores/__tests__/avatarStore.test.ts
  frontend/src/stores/avatarStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: update WebSocket handler constructor calls and session extraction
  backend/internal/testdata/scenarios.go
  backend/internal/testdata/testws.go
  backend/internal/websocket/handler.go
Due: backend-tests, go-fmt, go-vet

feat: WebVideo POC - Phase 1 & 2 Foundation
  .kiro/specs/webvideo-poc/design.md
  .kiro/specs/webvideo-poc/requirements.md
  .kiro/specs/webvideo-poc/tasks.md
  backend/internal/websocket/handler.go
  backend/internal/websocket/manager.go
  frontend/src/App.tsx
  frontend/src/components/VideoCallModal.tsx
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

feat: Complete Phase 2 - WebSocket signaling for video calls
  .kiro/specs/webvideo-poc/tasks.md
  frontend/src/App.tsx
  frontend/src/services/websocket-client.ts
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests

feat: Complete WebRTC video calling system with real-time avatar interaction
  .kiro/specs/webvideo-poc/tasks.md
  backend/internal/integration/flow_test.go
  backend/internal/websocket/handler.go
  frontend/src/App.tsx
  frontend/src/components/VideoCallModal.tsx
  frontend/src/services/webrtc-service.ts
  frontend/src/services/websocket-client-minimal.ts
  frontend/src/services/websocket-client.ts
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: Robust WebRTC connection stability with proper resource cleanup
  frontend/src/services/webrtc-service.ts
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests

feat: Enhanced avatar interactions with profile tooltips and improved UX
  backend/internal/websocket/handler.go
  frontend/src/App.tsx
  frontend/src/components/AvatarTooltip.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POICreationModal.tsx
  frontend/src/components/ProfileCard.tsx
  frontend/src/components/ProfileCreationModal.tsx
  frontend/src/components/ProfileSettingsModal.tsx
  frontend/src/components/VideoCallModal.tsx
  frontend/src/services/websocket-client.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

feat: Add call status indicator to prevent calling busy users
  backend/internal/websocket/handler.go
  frontend/src/App.tsx
  frontend/src/components/AvatarTooltip.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/components/__tests__/AvatarTooltip.test.tsx
  frontend/src/services/__tests__/websocket-call-status.test.ts
  frontend/src/services/websocket-client.ts
  frontend/src/stores/__tests__/avatarStore.test.ts
  frontend/src/stores/avatarStore.ts
  frontend/src/stores/videoCallStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: Replace mock POI handlers with database-backed implementation
  .kiro/specs/poi-creation-fix/design.md
  .kiro/specs/poi-creation-fix/requirements.md
  .kiro/specs/poi-creation-fix/tasks.md
  backend/internal/server/server.go
  frontend/src/App.tsx
  frontend/src/components/POICreationModal.tsx
  frontend/src/services/api.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

docs: Update POI creation fix tasks with implementation summary
  .kiro/specs/poi-creation-fix/tasks.md
Due: none

feat: Add real-time POI synchronization across browsers
  backend/internal/redis/pubsub.go
  backend/internal/server/server.go
  backend/internal/websocket/handler.go
  frontend/src/services/websocket-client.ts
  frontend/src/stores/poiStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

docs: Update POI creation fix tasks with real-time sync completion
  .kiro/specs/poi-creation-fix/tasks.md
  backend/internal/services/poi_service.go
Due: backend-tests, go-fmt, go-vet

fix: Add missing CreatePOIWithImage method to MockPOIService
  backend/internal/testdata/mocks.go
Due: backend-tests, go-fmt, go-vet

refactor: unify POI and Avatar marker components
  frontend/src/components/AvatarMarker.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POIMarker.tsx
Due: frontend-lint, frontend-tests

feat: implement circular POI design with participant badges
  frontend/src/components/MapContainer.test.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POIMarker.test.tsx
  frontend/src/components/POIMarker.tsx
  frontend/src/components/__tests__/POIMarker.visual.test.tsx
  scripts/clear-pois.sh
  scripts/clear-pois.sql
Due: frontend-lint, frontend-tests

feat: simplify discussion timer to backend timestamp + frontend calculation
  IMPLEMENTATION_SUMMARY.md
  backend/internal/handlers/poi_handler.go
  backend/internal/handlers/poi_handler_migrated_test.go
  backend/internal/handlers/poi_handler_test.go
  backend/internal/handlers/poi_image_test.go
  backend/internal/models/poi.go
  backend/internal/server/server.go
  backend/internal/services/poi_discussion_timer_test.go
  backend/internal/services/poi_service.go
  backend/migrations/003_add_discussion_timer_fields.sql
  backend/uploads/poi-2e2e7d81-fdf4-4648-8bdd-8f801c0e8d23-1759007220.png
  backend/uploads/poi-db356f71-2ea3-4cf6-ab47-c42ae06cf032-1759010459.png
  frontend/src/App.tsx
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POIDetailsPanel.tsx
  frontend/src/components/__tests__/POIDetailsPanel.discussion-timer.test.tsx
  frontend/src/components/__tests__/POIDetailsPanel.test.tsx
  frontend/src/services/api.ts
  frontend/src/stores/poiStore.ts
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: POI data refresh timing - use WebSocket events for proper synchronization
  frontend/src/App.tsx
  frontend/src/services/websocket-client.ts
Due: frontend-lint, frontend-tests

feat: implement avatar badges around POIs with real-time updates
  backend/internal/handlers/poi_handler.go
  backend/internal/integration/poi_avatar_badges_test.go
  backend/internal/redis/pubsub.go
  backend/internal/server/server.go
  backend/internal/services/poi_service.go
  backend/internal/services/session_service.go
  frontend/src/components/MapContainer.tsx
  frontend/src/components/POIMarker.tsx
  frontend/src/components/POIMarkerDemo.tsx
  frontend/src/components/__tests__/POIMarker.avatar-badges.test.tsx
  frontend/src/services/api.ts
  frontend/src/services/websocket-client.ts
  frontend/src/stores/__tests__/avatarStore.poi-hiding.test.ts
  frontend/src/stores/avatarStore.ts
  frontend/src/stores/poiStore.ts
  scripts/test-avatar-badges.sh
Due: frontend-lint, frontend-tests, backend-tests, go-fmt, go-vet

fix: POI membership persistence after browser refresh
  POI_MEMBERSHIP_FIX.md
  frontend/src/__tests__/poi-membership-integration.test.tsx
  frontend/src/__tests__/poi-membership-persistence-fix.test.tsx
  frontend/src/__tests__/poi-membership-persistence.test.tsx
  frontend/src/stores/poiStore.ts
Due: frontend-lint, frontend-tests

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-tests: any of: ^frontend/
  backend-tests: any of: ^backend/
  go-fmt: any of: ^backend/.*\.go$
  go-vet: any of: ^backend/.*\.go$
